ipykernel
pandas
numpy
matplotlib
plotly
seaborn
scipy
scikit-learn
imblearn
xgboost
catboost
pymongo #for mongodb connection 
from_root
evidently==0.2.8
dill
PyYAML
neuro_mf
boto3
mypy-boto3-s3 # for aws connection
botocore
fastapi
uvicorn
jinja2
python-multipart
-e .